<!DOCTYPE html>
<html lang="en">
<head>
    {{! Meta & Links }}
    {{! List of Usable HTML Meta and Link Tags }}
    {{! https://gist.github.com/kevinSuttle/1997924 }}
    {{! https://github.com/outsideris/meta-tags-generator }}
    <meta charset="utf=8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>{{{-find '-not-empty?' (-array this.title package.title)}}}</title>
    <meta name="description"
        content="{{{-find '-not-empty?' (-array this.description package.description)}}}"></meta>
    <meta name="keywords"
        content="{{{-join (-find '-not-empty?' (-array this.keywords package.keywords)) ','}}}"></meta>
    <meta name="author"
        content="{{{ package.author.name }}}"></meta>

    <link rel="home" type="text/html" href="{{{ package.homepage }}}" />
    <link rel="alternate" type="application/atom+xml"
        title="{{{-find '-not-empty?' (-array title package.title) }}} &raquo; Feed"
        href="{{{ package.homepage }}}atom.xml"></link>

    {{! Icons }}
    <link rel="shortcut icon" href="/images/favicon.ico"></link>

    {{! Styles }}
    <link rel="stylesheet" media="screen, projection"
        href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" media="screen, projection"
        href="/bower_components/bootstrap-material-design/dist/css/material.min.css"></link>
    <link rel="stylesheet" media="screen, projection"
        href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css"></link>
    <link rel="stylesheet" media="screen, projection"
        href="/styles/style.css"></link>
    {{! <link rel="stylesheet"
        href="/styles/print.css"
        media="print"></link> }}

    {{! Scripts }}
    <script
        src="/bower_components/requirejs/require.js"></script>
    <script src="/scripts/require-config.min.js"></script>
    <script async defer src="/scripts/script.min.js"></script>

</head>

<body>

    {{! Topbar }}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/site/archive.html">Archive</a></li>
                    <li><a href="/site/keyword-map.html">Keyword Map</a></li>
                </ul>
                <form id="search-form" class="navbar-form navbar-right"
                        action="http://google.com/search" method="get">
                    <input type="hidden" name="q"
                        value="site:pismute.github.io"></input>
                    <input class="form-control" type="text"
                        name="q" results="0" placeholder="Search..."></input>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div>
          {{{ contents }}}
        </div>
        <footer class="footer">
            <p>Copyright &copy; 2015+ Changwoo Park</p>
            <p><small>Powered by <a href="https://github.com/pismute/gulp-makdoc">makdoc</a>, <a href="http://fezvrasta.github.io/bootstrap-material-design/">bootstrap-material-design</a></small></p>
        </footer>
    </div>

</body>
</html>
