<style rel="stylesheet" media="screen, projection" scoped>
  .row > [class*="col-sm"] {
    margin-left: 10px;
  }
</style>

<h1>Tagmap</h1>

<!-- {{-let 'docsGroup' (_group-doc docs)}} -->

<section id="tagmap">
  {{#each (-grouped 3 (-sort (-keys docsGroup)))}}
  <div class="row">
    {{! [[tag1, tag2], [..., ...]] }}
    {{#each this}}
      <div id="{{{this}}}" class="col-xs-3">
        <h4>{{{this}}}</h4>
        <ul>
          {{#each (-get this ../../docsGroup)}}
            <li><a href="{{{this.uri}}}">{{{this.title}}}</a></li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
  {{/each}}
</section>
